<div class="grid grid-col w-full">
  <h1 class='text-5xl text-center'>Shopping List</h1>
  <div class="flex justify-between">
    <div class="text-2xl">Amount of food items to buy: <span class="text-3xl"> <%= @foods.length%> </span></div>
    <div class="text-2xl">Total value of food needed: <span class="text-3xl">$ <%= @total_price * -1%> </span></div>
  </div>

  <div>
    <% if @foods.length.zero? %>
      <h2 class="text-center text-xl bg-green-900 text-white">All ingredients are set to make the recipe!</h2>
    <% else %>
      <table class="table border w-full">
        <thead class="border">
          <tr class="border text-2xl">
            <th class="border p-2">Food</th>
            <th class="border p-2">Quantity</th>
            <th class="border p-2">Total price</th>
          </tr>
        </thead>
        <tbody class="border">
          <% @foods.each do |food| %>
            <tr class="border">
              <td class="border  p-1"><%= food[:name] %></td>
              <td class="border p-1"><%= food[:quantity] * -1%></td>
              <td class="border p-1"><%= food[:price] * -1  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>